tensorflow>=2.4.0
numpy>=1.19.2
Pillow>=8.0.0
gdown>=4.2.0
requests>=2.25.1
flask>=2.0.0
scikit-learn>=0.24.0
pandas>=1.2.0
joblib>=1.0.0
gunicorn==20.1.0
Werkzeug==2.0.1
deep-translator==1.11.4
# opencv-python-headless==4.6.0.66
pillow==9.0.0 
